default_language_version:
  python: python3
exclude: "^$"

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi, jupyter ]
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
  - repo: "local"
    hooks:
      - entry: tsc --noEmit
        id: "tsc"
        name: "tsc"
        language: node
        pass_filenames: false
        types_or: [ts, tsx]
        args: []
        require_serial: false
        additional_dependencies: ["typescript@~4.1.3"]
        minimum_pre_commit_version: "0"
  - repo: local
    hooks:
      - entry: pyright
        id: "pyright"
        name: "pyright"
        types_or: [python]
        language: node
        pass_filenames: true
        additional_dependencies: ["pyright"]
  # - repo: https://github.com/cidrblock/pylint-ruff-sync
  #   rev: v25.07.18.000003
  #   hooks:
  #     - id: pylint-ruff-sync
  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       require_serial: true
  #       always_run: true
  #       pass_filenames: true
  #       args:
  #         [
  #           "-rn", # Only display messages
  #           "-sn", # Don't display the score

  #         ]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest -n auto
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: '.*\.(py|ipynb)$'